    <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome</h1>
 
    <a href="/home">IronBeers</a>
  </body>
</html>
<---------------------------------------------->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Beers</h1>
    <p>This is my second route</p>
    <a href="/home">Back to Home</a>
  </body>
</html>
<---------------------------------------------->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Random Beers</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Random Beers</h1>
    <p>This is my third route</p>

    <a href="/home">Back to Home</a>
  </body>
</html>
